.cardNavigate{
    background-color: var(--cor-principal);
    display: flex;
    padding: 25px;
    border-radius: 6px;
    border-left: 6px solid yellow;
    align-items: center;
    margin-top: 6px;
    cursor: pointer;
}

.cardNavigate img{
    width: 24px;
    margin-right: 18px;
}

.cardNavigate p{
    color: white;
    font-weight: bold;
}