.btnLogin{
    background-color: var(--cor-principal);
    color: white;
    font-weight: bold;
    font-size: 13px;
    width: 80%;
    border: none;
    border-radius: 6px;
    padding: 18px;
    margin-top: 24px;
    max-width: 350px;
    cursor: pointer;
}